<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Account</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.username}"></span>!</h1>
<a href="/logout">Logout</a>
<h2>Your Journal Entries:</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody th:each="entry : ${journalEntries}">
    <tr>
        <td th:text="${entry.title}"></td>
        <td th:text="${entry.content}"></td>
        <td>
            <a th:href="@{/edit-journal/{entryId}(entryId=${entry.id})}">Edit</a>
            <a th:href="@{/delete-journal/{entryId}(entryId=${entry.id})}">Delete</a>
        </td>


    </tr>
    </tbody>
</table>
<a th:href="@{/add-journal}">Add New Journal Entry</a>
<a th:href="@{/edit-user}">Edit User Profile</a>



<p>Total registered users: <span th:text="${totalUsers}"></span></p>

</body>
</html>
